@import "tailwindcss";
@theme {
  /* Colors */
  --color-bg: #141414;
  --color-darkGray: #1a1a1a;
  --color-mainText: #ffffff;
  --color-secText: #999999;
  --color-mainPurple: #703bf7;
  --color-secPurple: #a685fa;
  --color-hoverPurple: #5e2bd6;
  --color-borderColor: #262626;
  --color-overlay: #0a0a0a80;
  --color-grayMedium: #4d4d4d;
  --color-iconDisaled: #808080;
  --color-star: #666;
  --color-seconderyStar: #333;
}

/* Add By Afraa */
.bg-gradient-animated {
  background-size: 200% 200%;
}
.animated-gradient-text {
  background: linear-gradient(90deg, #703bf7, #8b5cf6, #ec4899, #3b82f6);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 8s linear infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}